/*@correction: 0.5 / @totalWidth * 100 * 1%;*/
/* Document */
/* ------------------------------------------------------------------------------------ */
h1 {
  float: left;
  width: 287px;
  height: 90px;
  background: url('../imgs/logo.png') no-repeat;
  text-indent: -9999px;
}
header {
  margin: 42px 0;
}
header:before,
header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
header:after {
  clear: both;
}
footer {
  margin: 4em 0;
}
ul.social {
  float: right;
  padding: 0;
  margin: 58px 0 0 0;
  list-style: none;
}
ul.social:before,
ul.social:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
ul.social:after {
  clear: both;
}
.social li {
  margin-left: 0.8em;
  float: left;
  width: 50px;
  height: 50px;
}
/* Grid */
/* ------------------------------------------------------------------------------------ */
.grid {
  display: table;
  margin-top: 0;
  margin-bottom: 20px;
}
.row {
  position: relative;
  margin-left: -20px;
  zoom: 1;
}
.row::before,
.row::after {
  display: table;
  content: "";
}
.row::before,
.row::after {
  display: table;
  content: "";
}
.row::after {
  clear: both;
}
/* Layout */
/* ------------------------------------------------------------------------------------ */
.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 40px;
}
ul#tmbs {
  position: relative;
  display: table;
  clear: both;
  margin: 0 auto;
  /*margin-left: -20px;*/
  padding: 0;
  list-style-type: none;
  content: "";
}
.progressive,
.grid1,
.grid2 {
  display: inline-block;
  float: left;
  overflow: visible;
  /*	margin-bottom:15px;
	padding-left:20px;*/
  width: 100%;
  height: auto;
  border: 0 !important;
  word-wrap: break-word;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#tmbs li {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  display: block;
  height: auto;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  min-height: 1px;
  position: relative;
  -ms-interpolation-mode: bicubic;
}
/* Media Queries */
/* ------------------------------------------------------------------------------------ */
@media only screen and (min-width: 320px) and (max-width: 510px) {
  header h1,
  ul.social {
    display: block;
    float: none;
  }
  ul.social {
    margin: 0;
  }
  ul.social li {
    margin: 0 0.8em 0 0;
  }
}
@media only screen and (min-width: 480px) {
  .progressive,
  .grid1,
  .grid2 {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .progressive,
  .grid1,
  .grid2 {
    /*width: 50%;*/
    width: 33.333333333333%;
  }
  h1 {
    float: left;
    width: 287px;
    height: 90px;
    background: url('../imgs/logo.png') no-repeat;
    text-indent: -9999px;
  }
  ul.social {
    float: right;
    padding: 0;
    margin: 58px 0 0 0;
    list-style: none;
  }
  ul.social:before,
  ul.social:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  ul.social:after {
    clear: both;
  }
  .social li {
    margin-left: 0.8em;
    float: left;
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  /*	.progressive, .grid1, .grid2 {
		width: 33.333333333333%;
	}*/
  .progressive,
  .grid1,
  .grid2 {
    width: 25%;
  }
}
/*@media only screen and (min-width: 1140px) {*/
@media only screen and (min-width: 1120px) {
  .progressive,
  .grid1 {
    width: 25%;
  }
  .grid2 {
    width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .progressive,
  .grid1 {
    width: 20%;
  }
  .grid2 {
    width: 40%;
  }
}
