# Laravel
/bootstrap/compiled.php
/vendor
CONTRIBUTING.md
/app/storage

# Database
.env*

# Composer
composer.phar
composer.lock

# OS
.DS_Store

# Packages
_ide_helpers.php

# Misc
node_modules
psds
.bak