# Laravel
/bootstrap/compiled.php
/vendor
CONTRIBUTING.md

# Database
/app/database/
.env.local.php
.env.production.php

# Composer
composer.phar
composer.lock

# OS
.DS_Store

# Packages
_ide_helpers.php

# Misc
node_modules
psds
.bak