# Laravel
/bootstrap/compiled.php
/vendor
CONTRIBUTING.md

# Configuration
/app/config
/app/config/local
/app/config/staging
/app/config/production

# Database
/app/database/
.env.local.php
.env.production.php

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/

# Packages
_ide_helpers.php

# Misc
node_modules
psds
test.html
.bak