hr {
	margin: 0;
	padding: 0;
	height: 1px;
	clear: both;
	border: none;
	color: #ccc;
	background-color: #ccc;
}

.detail-col p a.download {
	font-size: 1em;
}

.details-container {
	.clearfix();
}

// .detail-col {
// 	.clearfix();
// }

.details {
	padding-left: 40px;
	//.clearfix();
}

.details .title {
	.clearfix();
}

.details h2 {
	float: left;
	font-size: 2em;
	margin: 0 0 5px 0;
}

.details .title ul {
	margin-top: 6px;
	float: right;
	.clearfix();
}

.details .title ul li {
	float: left;
}

.details .title ul li.next {
	margin-left: 14px;
}

.details p {
	line-height: 1.6;
}

.details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.details dd, dt, dl {
	margin:  0;
	padding: 0;
}

.details .date {
	margin: 0 0 10px 0;  // this plus the margin-top of the .tag itself = 20px
	font-style: italic;
	color: #999;
}

.details .date span {
	color: #555;
}

ul.tags {
	margin-bottom: 20px;
	.clearfix();
}

.tag {
	float: left;
	padding: 4px 8px;
	margin: 5px 5px 0 0;
	background: #333;
	color: #fff;
}

ul.palette {
	.clearfix();
	margin-bottom: 20px;
}

.palette .color {
	float: left;
	width: 2em;
	height: 1.25em;
}


.sale,
.buy-options {
	margin-top: 20px;
}

.sale-not-avail {
	font-style: italic;
}

.details .shipping {
	margin-bottom: 20px;
}

td.shipping-location {
	padding-right: 20px;
}

td.shipping-price {
	text-align: left;
}

td.title {
	padding: 0 0 15px 0;
}

p.print-desc {
	padding: 0;
	margin: 20px 0;
}

td.print-size {
	padding-right: 55px;
}

tr.first td.print-size {
	height: 56px;
}

td.print-price {
	padding-right: 28px;
}

.buy-options .title {
	padding: 0;
}

/* special button */
.button {
  position: relative;
  display: block;
  width: 95px;
  height: 30px;
  text-align: center;
}

.button .addtocart {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  -webkit-transition: -webkit-transform 300ms;
  transition: transform 300ms;
  cursor: pointer;
}

.button .addtocart > div {
  position: absolute;
  display: block;
  width: 95px;
  height: 30px;
  // border-radius: 0 2px 2px 0;
  line-height: 32px;
  border-radius: 4px;
}

.button .addtocart > .add {
  background: @linkColor;
  color: #fff;
  -webkit-transform: rotateY(0deg) translateZ(15px);
  transform: rotateY(0deg) translateZ(15px);
  -webkit-transition: background 150ms ease-out;
  transition: background 150ms ease-out;
}

.button .addtocart > .add:hover {
  background: @linkHoverColor;
  color: #fff;
}

.button .addtocart > .added {
  background: #ff6633;
  color: #fff;
  -webkit-transform: rotateX(90deg) translateZ(15px);
  transform: rotateX(90deg) translateZ(15px);
}

.button .addtocart.active {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  .add {
    border-radius: 0 0 4px 4px;
  }
  .added {
  	border-radius: 4px 4px 0 0;
  }
}

// Keyframe Animations
@-webkit-keyframes rotate {
  35% {
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
    transform: translateZ(-100px) rotateX(-90deg);
  }

  72% {
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
    transform: translateZ(-100px) rotateX(-90deg);
  }

  100% {
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
  }
}
@keyframes rotate {
  35% {
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
    transform: translateZ(-100px) rotateX(-90deg);
  }

  72% {
    -webkit-transform: translateZ(-100px) rotateX(-90deg);
    transform: translateZ(-100px) rotateX(-90deg);
  }

  100% {
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
  }
}


/* button classes */
.btn {
	margin: 0;
	padding: 5px 12px;
	display: inline-block;
	// font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	text-decoration: none;

	// line-height: 1.428571429;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	color: #fff;
	background-color: @linkColor;
	border-color: @linkColor;
}

.btn:hover,
.btn:focus,
.btn:active {
	color: #fff;
	background-color: @linkColor;
	border-color: @linkColor;
}

.btn:active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}

.btn:hover, .btn:focus {
	color: #fff;
}

.extras {
	margin-top: 2.5em;
}

.extras h3 {
	margin-top: 0;
}

.extras {
	.grid1 {
		width: 50%;
	}
}