/* Document */
/* ------------------------------------------------------------------------------------ */

body, html {
	font-family: 'Gudea', helvetica, arial, sans-serif;
	color: #555;
}

h1 {
	float: left;
	width: 287px;
	height: 90px;
	background: url('../imgs/logo.png') no-repeat;
	text-indent: -9999px;
}

a {
	color: @linkColor;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}


header {
	margin: 42px 0;
	.clearfix();
}

footer {
	text-align: center;
	margin: 2em 0;
}

footer span {
	font-family: helvetica, arial, sans-serif;
}

ul.social {
	float: right;
	padding: 0;
	margin: 58px 0 0 0;
	list-style: none;
	.clearfix();
}

.social li {
	margin-left: 0.8em;
	float: left;
	width: 50px;
	height: 50px;
}

.centered {
  text-align: center;
  .clearfix();
}

/* Browse Happy */
/* ------------------------------------------------------------------------------------ */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}