/* Layout */
/* ------------------------------------------------------------------------------------ */

.container {
	max-width: @totalWidth;
	margin-right: auto;
  	margin-left: auto;
  	padding: 0 40px;
  	.clearfix();
}

ul#tmbs {
	position: relative;
	display: table;
	clear: both;
	//margin: 0 auto;
	padding: 0;
	list-style-type: none;
	content: "";	
}

.grid-first,
.grid1,
.grid2,
.grid3 {
	display: inline-block;
	float: left;
	overflow: visible;
	width: 100%;
	height: auto; 
	min-width: 140px;
	border: 0 !important;
	word-wrap: break-word;
	min-height: 1px;
	position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-first img,
.grid1 img,
.grid2 img,
.grid3 img,
.grid4 img,
.grid5 img {
	display: block;
	height: auto;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	width: 100%;
	min-height: 1px;
	position: relative;
	-ms-interpolation-mode: bicubic;
}

.column,
.column a {
	position: relative;
}

.column a {
	overflow: hidden; /* so -bottom animation will not overlay other items */
	display: block;
}

.column .title {
	position: absolute;
	font-size: 1em;
	font-style: italic;
	bottom: -32px;
	left: 0;
	background: #121212;
	color: #fff;
	text-align: center;
	width: 100%;
	
	.transition(0.3s);
	.opacity(0);

	z-index: 1;
}

.column .title div {
	display: inline-block;
	padding: 1em;
	margin: 0 auto;
}

.column .title span.num {
	color: @linkColor;
}

.column a:hover .title {
	bottom: 0;
	.opacity(0.9);
}