/* Media Queries */
/* ------------------------------------------------------------------------------------ */
@media only screen and (width: 320px) {
	header h1 .logo {
		margin-bottom: 0.5em;
	}

	header h1, ul.social {
		font-size: 1em;
	}
}

@media only screen and (min-width: 320px) and (max-width: 510px) {

	header {
		margin-top: 10px;
	}

	header h1 {
		margin-bottom: 1.5em;	
	}

	footer {
		margin-top: 2em;
		margin-bottom: 1em;
	}

	header h1, ul.social {
		display: block;
		float: none;
	}

	ul.social {
		margin: 0;
	}

	ul.social li {
		margin: 0 0.8em 0 0;
	}

	.social li.cart-icon {
		margin-left: 0.8em;
	}

	.container {
		padding: 0 20px;
	}

	.grid1,
	.grid2,
	.grid-first {
		width: 100%;
	}

	// detail specific
	.grid2.detail-col.details {
		margin-top: 20px;
		padding-left: 0;
	}

	.details h2,
	.details .title ul {
		float: none;
	}

	.details .title ul li.next {
		float: right;
	}

	.details .date {
		margin:20px 0 10px;
	}

}

// @media only screen and (min-width: 480px) and (orientation:landscape) {

// }

@media only screen and (min-width: 510px) and (max-width: 600px) {

	header {
		margin-top: 10px;
	}
	
	header h1, ul.social {
		display: block;
		float: none;
	}

	header h1 {
		margin-bottom: 1.5em;	
	}

	.container {
		padding: 0 20px;
	}

	ul.social {
		margin: 0;
	}

	ul.social li {
		margin: 0 0.8em 0 0;
	}

	// detail specific
	.grid2.detail-col.details {
		margin-top: 20px;
		padding-left: 0;
	}
}

@media only screen and (min-width: 560px) {
	.grid1,
	.grid2,
	.grid-first {
		width: 50%;
	}

	// detail specific
	.grid2.detail-col.details {
		margin-top: 20px;
		padding-left: 0;
	}

	.grid2.detail-col {
		width: 100%;
	}

	.grid3.detail-col {
		width: 100%;
	}
}


@media only screen and (min-width: 768px) {
	.grid1,
	.grid2,
	.grid-first {
		/*width: 50%;*/
		width: 33.3% - @correction;
	}

	.extras {
		.grid1 {
			width: 25%;
		}
	}

	h1 {
		float: left;
		// width: 287px;
		// height: 90px;
		// background: url('../imgs/logo.png') no-repeat;
		// text-indent: -9999px;
	}

	ul.social {
		float: right;
		padding: 0;
		margin: 55px 0 0 0;
		list-style: none;
		.clearfix();
	}

	.social li {
		margin-left: 0.8em;
		float: left;
		width: 50px;
		height: 50px;
	}

	// detail specific
	.grid2.detail-col.details {
		margin-top: 20px;
		padding-left: 0;
	}

	// .grid2.detail-col {
	// 	width: 50%;
	// }

	// .grid3.detail-col {
	// 	width: 50%;
	// }
}

@media only screen and (min-width: 900px) {
	// detail specific
	.grid2.detail-col.details {
		margin-top: 0;
		padding-left: 40px;
	}

	.grid2.detail-col {
		width: 50%;
	}

	.grid3.detail-col {
		width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
/*	.grid1, .grid2 {
		width: 33.333333333333%;
	}*/
	.grid1,
	.grid2,
	.grid-first {
		width: 25% - @correction;
	}

	// detail specific
	.grid2.detail-col.details {
		margin-top: 0;
		padding-left: 40px;
	}

	.grid2.detail-col {
		width: 50%;
	}

	.grid3.detail-col {
		width: 50%;
	}

	.extras {
		.grid1 {
			width: 25%;
		}
	}
}

/*@media only screen and (min-width: 1140px) {*/
@media only screen and (min-width: 1120px) {
	.grid1 {
		width: 25% - @correction;
	}

	.grid-first {
		position: absolute;
		left: 0;
		width: 50% - @correction;
	}

	.grid2 {
		width: 50%;
	}

	.grid3 {
		width: 75%;
	}

	.alt2 {
		margin-left: 50%;
	}
}

@media only screen and (min-width: 1200px) {
	.grid1 {
		width: 20% - @correction;
	}

	.grid-first {
		position: absolute;
		left: 0;
		width: 40% - @correction;
	}

	.grid2 {
		width: 40%;
	}

	.grid3 {
		width: 60%;
	}

	.extras {
		.grid1 {
			width: 25%;
		}
	}

	.alt2 {
		margin:0;
	}

	.alt1 {
		margin-left: 40%;
	}

	// detail specific
	.grid2.detail-col.details {
		margin-top: 0;
		padding-left: 40px;
	}

	.grid2.detail-col {
		width: 40%;
	}

	.grid3.detail-col {
		width: 60%;
	}
}